<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*logo*@
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.png">
    @*css*@
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/common/const.css" rel="stylesheet" />
    <link href="~/css/common/error.css" rel="stylesheet" />
</head>
<body class="d-flex justify-content-center align-items-center">
    @RenderBody()
</body>
</html>
