<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @*logo*@
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.png">
    @*script*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="~/js/common/common.js"></script>
    @*css*@
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/common/loading.css" rel="stylesheet" />
    <link href="~/css/common/const.css" rel="stylesheet" />
    <link href="~/lib/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/css/authenticate/authenticate.css" rel="stylesheet" />
</head>
<body class="d-flex justify-content-center align-items-center">
    @* div để hiện loading*@
    <div class="my-loading">
        <div class="spinner-border m-text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="authen-card">
        @RenderBody()
    </div>
    <script src="~/js/authenticate/authenticate.js"></script>
</body>
</html>
