
@{
    ViewBag.Title = "QuizIT | Error 404";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="error-card text-center">
    <h1 class="error-code">404</h1>
    <h2 class="error-mess">
        <i class="fa fa-exclamation-triangle text-warning"></i>
        Không tìm thấy trang đang yêu cầu
    </h2>
    <a class="error-btn" href="/">
        Quay trở lại trang chủ
    </a>
</div>

