@{
    ViewBag.Title = "QuizIT | Internal Server Error 500";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="error-card text-center">
    <h1 class="error-code">500</h1>
    <h2 class="error-mess">
        <i class="fa fa-times-circle text-danger"></i>
        Máy chủ tạm thời không phản hồi, vui lòng thử lại sau
    </h2>
    <a class="error-btn" href="/">
        Quay trở lại trang chủ
    </a>
</div>
